.otp-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp-container h1 {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .otp-container {
        width: 80%;
    }
}

.button-refresh {
    width: 100%;
}